:root {
  --main-font-family: 'Noto Sans JP', sans-serif;
  --type-font-family: 'Frank Ruhl Libre', serif;
  --pink-color: #f38181;
  --yellow-color: hsl(47, 95%, 76%);
  --green-color: hsl(87, 100%, 91%, 0.3);
  --blue-color: hsl(169, 56%, 73%, 0.3);
  --main-background: #fde3e2;
  --font-for-main: #000000;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.nav_container li,
.socialnetwork li {
  display: inline-block;
  top: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  position: sticky;
  top: 0px;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow-color);
  color: var(--pink-color);
}

.logo {
  display: flex;
  width: 5vw;
  height: auto;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_lists {
  padding: 0;
}

a:visited {
  color: var(--pink-color);
}

.nav_lists li:hover {
  transform: scale(1.1);
}

.nav_container li {
  margin: 0 8px 0 8px;
}

.socialnetwork {
  font-size: 20px;
  margin-right: 20px;
}

.socialnetwork li {
  margin: 0 3px 0 3px;
}

.bar {
  display: none;
}

#greeting {
  text-align: center;
}

.greeting-message {
  font-weight: 100;
  font-family: var(--type-font-family);
  padding: 0;
}

#main {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
  object-fit: contain;
  background-color: var(--main-background);
  color: var(--font-for-main);
}

.main_block {
  display: block;
}

.main_hidden {
  display: none;
}

.main-1,
.main-2,
.main-3,
.main-4,
.main-5 {
  height: 80vh;
}

.contact_main {
  padding-top: 20px;
}


.contact_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_sections li {
  margin-top: 10px;
}

section label {
  width: 150px;
  display: inline-block;
}

.contact_msg textarea{
  margin-top: 30px;
}

.submit_btn {
  text-align: center;
}


/* .main-1 {
  background-color: var(--blue-color);
}

.main-2 {
  background-color: var(--green-color);
}

.main-3 {
  background-color: var(--blue-color);
}

.main-4 {
  background-color: var(--green-color);
}

.main-5 {
  background-color: var(--blue-color);
} */

#footer {
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 12px;
  bottom: 0px;
}

@media screen and (max-width: 816px) {
  #greeting {
    display: none;
  }

  #header {
    flex-direction: column;
    align-items: flex-start;
  }
  ul {
    margin: 0 0 8px 0;
  }
  .nav_container {
    display: none;
    width: 100%;
    font-size: 12px;
    background: transparent;
  }

  .nav_lists {
    display: flex;
    flex-direction: column;
  }

  .nav_lists li {
    margin: 2px 0 2px 0;
    text-align: center;
  }
  .socialnetwork {
    display: none;
  }
  .bar {
    display: block;
  }
  .nav_container.nav_active {
    transition: transform 0.7s;

    display: flex;
  }
  .bar {
    position: absolute;
    right: 20px;
    color: inherit;
  }
}
