:root {
  --main-font-family: 'Noto Sans JP', sans-serif;
  --type-font-family: 'Frank Ruhl Libre', serif;
  --pink-color: #f38181;
  --yellow-color: hsl(47, 95%, 76%);
  --green-color: rgb(176, 209, 175);
  --grey-color:  rgb(160, 136, 136);
  --blue-color: rgba(103, 170, 182);
  --purple-color: rgb(157, 107, 190);
  --white-color: #ffffff;
  --main-background: #fde3e2;
  --font-for-main: #000000;
}


body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.nav_container li,
.socialnetwork li {
  display: inline-block;
  top: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--pink-color);
}

#header {
  position: sticky;
  top: 0px;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow-color);
  color: var(--pink-color);
  z-index: 101;
}

.logo {
  display: flex;
  width: 5vw;
  height: auto;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_lists {
  padding: 0;
}

a:visited {
  color: var(--pink-color);
}

.nav_lists a:hover {
  transform: scale(1.1);
  border-bottom: solid 1px var(--pink-color);
  font-weight: bold;
}

.nav_container li {
  margin: 0 8px 0 8px;
}

.day_night_button {
  background-color: var(--pink-color);
  border-style: none;
  color: var(--white-color);
  cursor: pointer;
  outline:none;
  border-radius: 3px;
}

.day_night_button:hover {
  border: none;
}

.day_night_switch {
  background-color: black;
}

.socialnetwork {
  font-size: 20px;
  margin-right: 20px;
}

.socialnetwork li {
  margin: 0 3px 0 3px;
}

.bar {
  display: none;
}

#main {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
  object-fit: contain;
  background-color: var(--main-background);
  color: var(--font-for-main);
  border-radius: 10px;
}

.main_block {
  display: block;
}

.main_hidden {
  display: none;
}

.main-1,
.main-2,
.main-3,
.main-4,
.main-5 {
  height: 80vh;
}


.home_instruction,
.why_instruction {
  color: var(--pink-color);
  font-family: var(--main-font-family);
  text-align: center;
  font-size: 16px;
}

.home_main {
  font-weight: 100;
  font-family: var(--type-font-family);
  padding: 0;
  text-align: center;  
}

.greeting_button {
  border-style: none;
  border-radius: 10px;
  font-size: 15px;
  background-color: var(--purple-color);
  color: var(--white-color);
  cursor: pointer;
  outline: none;
}

.greeting_button:hover {
  transform: scale(1.1);
  border: none;
}


.video_container{
  position: relative;
  margin: auto;
  width: 600px;
  height: 400px;
  margin-top: 30px;
  overflow: hidden;
}

.video_container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-arrow {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 3%;
  color: var(--grey-color);
  z-index: 100;
  cursor: pointer;
  opacity: 60%;
}

.right-arrow {
  position: absolute;
  font-size: 20px;
  top: 50%;
  right: 3%;
  color: var(--grey-color);
  z-index: 100;
  cursor: pointer;
  opacity: 60%;
}

.arrow:hover {
  transform: scale(1.2);
  opacity: 80%
}


.img_container {
  width: 300px;
  height: 100px;
  overflow: hidden;
  margin: auto;
}

.img_container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img_container img {
  width: 80px;
  height: 60px;
  cursor: pointer;
  border: solid 1px var(--white-color);
  transition: 0.5s;
}

.img_container img:hover{
  width: 90px;
  height: 65px;
}

.about_img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 70px 10px 50px 10px;
  padding: 0 20px 0 20px;
}

.about_img img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 3px 4px var(--white-color);
}

.opacity-one {
  opacity: 100%;
}

.opacity-two {
  opacity: 50%;
}

.about_img img:hover {
  opacity: 100%;
}

.about_text {
  display: flex;
  flex-direction: column;
}

.about_text li:nth-child(1){
padding: 0 0 0 10%;  
}

.about_text li:nth-child(3){
  text-align: right;
  padding: 0 10% 0 0;

}

.about_main p {
  width: 80%;
  height: auto;
  font-size: 14px;
  margin: auto;
  padding: 20px 10px;
  text-align: justify;
  overflow: hidden;
  display: block;
}

.flower {
  position: absolute;
}

.flower:hover {
  cursor: pointer;
  transform: scale(1.2);
  animation-name: spin;
  animation-duration: 4000ms;
}

@keyframes spin {
  from{
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.why_p {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px;
  text-align: justify;
  background-color: rgba(255, 232, 238, 0.8);
  border: dashed 1px var(--purple-color);
  border-radius: 7px;
}

.requirement_main ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.requirement_main li {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.requirement_main div {
  padding: 10px;
  text-align: center;
}

.req_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.req_title_name{
  font-weight: bold;
  border-radius: 0 25px 0 0;
  height: 7vh;
  background-image: linear-gradient(to right, rgb(193, 237, 243) 0%, rgb(248, 195, 204) 51%,  rgb(193, 227, 243) 100%);
  color: var(--grey-color);
  font-weight: bold;
  transition: 0.2s;
  background-size: 200% auto;
  width: 50%;
  margin: auto auto 0 auto ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.req_title_name:hover {
  background-position: right center;
  cursor: pointer;
}

.dotted_box {
  width: 60%;
  height: 90%;
  margin: 0 auto auto auto;
  border-style: double;
  border-color: rgb(248, 195, 204); 
  text-align: center;
}

.fa-arrow-circle-down {
  margin: 15px 0 15px 0;
  visibility: visible;
  color: var(--grey-color);
}

.arrow_hidden{
  opacity: 0;
}
.arrow_visible{
  opacity: 100;
  transition: opacity 1s ease-in;
}

.arrow_down1{
  font-size: 14px;
}

.arrow_down2{
  font-size: 18px;
}

.arrow_down3{
  font-size: 24px;
}

.done {
  color: var(--pink-color);
  font-weight: bold;
  opacity: 0;
}

.req_a {
  opacity: 0;
}

.done_visible {
  opacity: 100;
  transition: opacity 3s ease-in;
}

.a_visible {
  opacity: 100;
  transition: opacity 2s ease-in;
}

.done i{
  color: var(--green-color);
  font-size: 30px;
  margin-bottom: 10px;
}

.req_content a{
  color:var(--grey-color);
  font-weight: bold;
}


.mobile-fcc,
.mobile-codewars,
.mobile-github {
text-align: center;
color: var(--pink-color);
margin-bottom: 20px;
}

.requirement-btn {
  width: 30vw;
  background-color: var(--purple-color);
  color: var(--white-color);
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 40px;
}

.contact_main {
  padding-top: 20px;
}

.contact_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_sections li {
  margin-top: 10px;
}

section label {
  width: 150px;
  display: inline-block;
}

.contact_msg textarea{
  margin-top: 30px;
}

.submit_btn {
  text-align: center;
}

#footer {
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 12px;
  bottom: 0px;
}

@media screen and (max-width: 767px) {
  .home_main {
    font-size: 12px;
  }

  #header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_container {
    display: none;
    width: 100%;
    font-size: 12px;
    background: transparent;
    transition: transform 0.7s;
  }

  .nav_lists {
    display: flex;
    flex-direction: column;
  }

  .nav_lists li {
    margin: 2px 0 2px 0;
    text-align: center;
  }
  .socialnetwork {
    display: none;
    margin: auto;  
  }
  
  .bar {
    display: block;
  }

  .nav_active {
    display: block;
  } 

  .bar {
    position: absolute;
    right: 20px;
    color: inherit;
  }

  #main {
    width: 80vw;
    height: 80vh;
  }

  .greeting-message{
    font-size: 9px;
  }

  .greeting_button {
    font-size: 12px;
  }
  
  .home_instruction {
    font-size: 12px;
  }

  .why_instruction{
    display: none;
  }
  .video_container{
    position: relative;
    margin: auto;
    width: 250px;
    height: 160px;
    margin-top: 10px;
    overflow: scroll;
  }
  
  .video_container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img_container ul {
    display:inline-flex;
  }

  .img_container img {
    width: 40px;
    height: 30px;
    margin-left: 7px;
    margin-top: 7px;
  }

  .img_container img:hover{
    width: 45px;
    height: 34px;
  }

  .arrow {
    font-size: 12px;
  }
  
  .about_img {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .about_img img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .requirement-btn a {
    color: var(--white-color);
  }

  .requirement-btn a:visited {
    color: var(--white-color);
  }


  .why_p {
    font-size: 12px;
  }
}
