:root {
  --main-font-family: 'Noto Sans JP', sans-serif;
  --type-font-family: 'Frank Ruhl Libre', serif;
  --pink-color: #f38181;
  --yellow-color: hsl(47, 95%, 76%);
  --green-color: hsl(87, 100%, 91%, 0.3);
  --blue-color: hsl(169, 56%, 73%, 0.3);
  --white-color: #ffffff;
  --main-background: #fde3e2;
  --font-for-main: #000000;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.nav_container li,
.socialnetwork li {
  display: inline-block;
  top: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  position: sticky;
  top: 0px;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow-color);
  color: var(--pink-color);
  z-index: 100;
}

.logo {
  display: flex;
  width: 5vw;
  height: auto;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_lists {
  padding: 0;
}

a:visited {
  color: var(--pink-color);
}

.nav_lists li:hover {
  transform: scale(1.1);
}

.nav_container li {
  margin: 0 8px 0 8px;
}

.socialnetwork {
  font-size: 20px;
  margin-right: 20px;
}

.socialnetwork li {
  margin: 0 3px 0 3px;
}

.bar {
  display: none;
}

#main {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
  object-fit: contain;
  background-color: var(--main-background);
  color: var(--font-for-main);
  border-radius: 10px;
}

.main_block {
  display: block;
}

.main_hidden {
  display: none;
}

.main-1,
.main-2,
.main-3,
.main-4,
.main-5 {
  height: 80vh;
}

.home_main {
  font-weight: 100;
  font-family: var(--type-font-family);
  padding: 0;
  text-align: center;
  
}

.video_container{
  position: relative;
  margin: auto;
  width: 600px;
  height: 400px;
  margin-top: 50px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px black;

}

.video_container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_container {
  width: 300px;
  height: 100px;
  overflow: hidden;
  margin: auto;
}

.img_container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img_container img {
  width: 80px;
  height: 60px;
  cursor: pointer;
  border: solid 1px var(--white-color);
  transition: 0.5s ;
}

.img_container img:hover{
  width: 90px;
  height: 65px;
}

.about_img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 70px 10px 50px 10px;
  padding: 0 20px 0 20px;
}

.about_img img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 2px 3px var(--white-color);
}

.about_text {
  display: flex;
  flex-direction: column;
}

.about_text li:nth-child(1){
padding: 0 0 0 10%;  
}

.about_text li:nth-child(3){
  text-align: right;
  padding: 0 10% 0 0;

}

.about_main p {
  width: 80%;
  height: auto;
  font-size: 14px;
  margin: auto;
  padding: 20px 10px;
  text-align: justify;
  overflow: hidden;
  display: block;
}

.requirement_main ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.requirement_main li {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.requirement_main div {
  padding: 10px;
  margin: 20px 20px 0 20px;
  text-align: center;
}

.req_title {
  background-color:var(--blue-color);
  border-radius: 0 50px 0 0;
}

.fa-arrow-circle-down{
  font-size: 20px;
}

.req_tick {
  padding: 10px;
  margin: 20px 20px 0 20px;
  text-align: center;
  background-color: var(--green-color);
  border-radius: 0 0 0 50px;
}

.contact_main {
  padding-top: 20px;
}

.contact_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_sections li {
  margin-top: 10px;
}

section label {
  width: 150px;
  display: inline-block;
}

.contact_msg textarea{
  margin-top: 30px;
}

.submit_btn {
  text-align: center;
}

#footer {
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 12px;
  bottom: 0px;
}

@media screen and (max-width: 816px) {
  .home_main {
    font-size: 12px;
  }

  #header {
    flex-direction: column;
    align-items: flex-start;
  }
  ul {
    margin: 0 0 8px 0;
  }
  .nav_container {
    display: none;
    width: 100%;
    font-size: 12px;
    background: transparent;
  }

  .nav_lists {
    display: flex;
    flex-direction: column;
  }

  .nav_lists li {
    margin: 2px 0 2px 0;
    text-align: center;
  }
  .socialnetwork {
    display: none;
  }
  .bar {
    display: block;
  }
  .nav_container.nav_active {
    transition: transform 0.7s;

    display: flex;
  }
  .bar {
    position: absolute;
    right: 20px;
    color: inherit;
  }

  .video_container{
    position: relative;
    margin: auto;
    width: 400px;
    height: 300px;
    margin-top: 50px;
    overflow: scroll;
  }
  
  .video_container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}
